.calculator {
	width: 250px;
	margin: auto;
	padding: 20px;
	border: 1px solid black;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.display {
	margin-bottom: 10px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #eee;
	cursor: pointer;
}

button:hover {
	background-color: #ddd;
}

button:active {
	background-color: #ccc;
}
